floor {
    background: url(assets/img/floor.png);
    background-size: 100px;
}

player {
    background: #b14b4b;
    height: 1px;
    width: 1px;
}

wall {
    background: #6D5353;
}

sprite {
    transform: translate3d(-50%, -50%, 0px);
}

player mesh {
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid #447c32;
    border-radius: 50%;
}
